body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    /* #efe4b0 */
    background-color: #fff7cc;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

header img{
    border-radius: 200px;
    border: 10px solid black;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px 30px 100px;
}

main img{
    max-width: 100%;
}