body{
    background-color: aliceblue;
}

h1{
    font-size: 30px;
    color: salmon;
}
h2{
    font-size: 25px;
    color: red;
}
.big{
    font-size: 60px;
}

.uppercase{
    text-transform: uppercase;
}
